<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581772824821-dmsnp2s788psftvpdt0jk9i38hccpb0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581772824821-dmsnp2s788psftvpdt0jk9i38hccpb0s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581772824821-r91ofb3glff151357ou4h795s5af0d3q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlslcLxSxcksnpY8-PeK9GiUIIpZuHqGo</string>
	<key>GCM_SENDER_ID</key>
	<string>581772824821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speak</string>
	<key>PROJECT_ID</key>
	<string>speak-388805</string>
	<key>STORAGE_BUCKET</key>
	<string>speak-388805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581772824821:ios:9f7c3f6a54696ecec935bc</string>
</dict>
</plist>